/* .number {
  position: absolute;
  top: -25%;
  left: -10%;
  font-size: 150px;
} */

.image-container {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
}

.image {
  -webkit-transition: transform 250ms ease-in-out;
  -moz-transition: transform 250ms ease-in-out;
  -o-transition: transform 250ms ease-in-out;
  -ms-transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
}

.image-container:hover .image {
  transform: rotate(2deg) scale(1.05);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: background-color 250ms ease-in-out;
  -moz-transition: background-color 250ms ease-in-out;
  -o-transition: background-color 250ms ease-in-out;
  -ms-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}

.overlay:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.info-label {
  position: absolute;
  left: 5%;
  bottom: 5%;
  display: grid;
  place-items: center;
  height: 3rem;
  width: 3rem;
  opacity: 0;
}

.overlay:hover .info-label {
  opacity: 100;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  -ms-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

.info {
  position: absolute;
  left: 5%;
  bottom: 5%;
  display: grid;
  place-items: center;
  overflow: hidden;
  padding: 2em;
  border-radius: 1.4em;
  background-color: rgba(0, 0, 0, 0.85);
  max-height: 90%;
  max-width: 90%;
  clip-path: circle(0% at 0% 100%);
  -webkit-transition: clip-path 500ms ease-in-out;
  -moz-transition: clip-path 500ms ease-in-out;
  -o-transition: clip-path 500ms ease-in-out;
  -ms-transition: clip-path 500ms ease-in-out;
  transition: clip-path 500ms ease-in-out;
}

.info-container {
  width: fit-content;
  height: fit-content;
}

.info-container:hover .info {
  clip-path: circle(75%);
}

.link-container {
  position: absolute;
  right: 5%;
  bottom: 5%;
  display: flex;
  flex-direction: row;
}

.link {
  width: 3em;
  height: 3em;
  padding: 0.5em;
  opacity: 0;
}

.overlay:hover .link {
  opacity: 100;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  -ms-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

@keyframes darken {
  to {
    background-color: rgba(0, 0, 0, 0.25)
  }
}